# Hugging Face: read или fine-grained token
HF_HOME=/workspace/.cache/huggingface
HF_TOKEN=...

# Weights & Biases
WANDB_DIR=/workspace/wandb
WANDB_API_KEY=...
WANDB_ENTITY=...
WANDB_PROJECT=...

# GitHub Container Registry token
GHCR_TOKEN=...
